<div class="menu">
    <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="name">{{nombre}}</div>
            <div class="last"></div>
        </div>
    <ul id="chat" class="chat">
    </ul>
    <input id="textchat" class="textarea" type="text" placeholder="Escriba aquí!" value=""/><div class="emojis"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>