
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 80px;   

}

.card {
    box-shadow: 3px 3px 3px rgb(240, 240, 240) !important;
    border: 0 !important;
}

.box__card{
    width: 600px;
    height: 600px;

}


.box__card__body-pa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__card__body-pa h4 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.box__card__body-text {
    font-weight: bold;
}
.box__card__body-input-user  {

    background-repeat:no-repeat;
    background-position-x: right;
    background-size:25px;
    background-position-y: center;

}
.box__card__body-input-pass {

    background-repeat:no-repeat;
    background-position-x: right;
    background-size:25px;
    background-position-y: center;
}


.box__card__body-btn {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
    
}
 
.btn {
    margin: 10px !important;
}



/* grilla */
.form-control {
   
    padding: 5px;
}

.box__grid__form {
    border:  0.1em solid rgb(128, 128, 128, 0.4 );
    padding: 15px;


}



.box__grid__form-info {
    padding: 10px;
}

.box__grid__form-info p {
    color: rgb(237, 165, 65);
    font-size: 20px;
    border-color: black;
}

.col {
    padding-top: 10px;
    padding-left: 25px;
    text-align: left;
}

.box__grid__text {
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
}

.box__grid-form-control {

    background-color: antiquewhite !important;
}




 .activo {
     display:block;
 }

 
.box__buscador-container {
    
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    margin-top: 3rem;

}

.buscadorNone {
    color: rgb(226, 232, 240);
    display: inline-block;
    font-size: 64px;
    height: 1em;
    margin-bottom: 1rem;
    vertical-align: middle;
    width: 1em;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.separador {
    border: 2px solid grey;
    width: 100%;
    
}