

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.navbar__container {
    background-image: radial-gradient(circle, #68b3ff, #42c4ff, #24d4ff, #33e2f7, #5aeeeb);
}
.box__card__body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
}

.box__card__body-img {

    display: flex;
    flex-flow: row wrap;
    justify-content: left;

}

.box__card__body-img img {
    height: 80px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
