.card__size {
    width: 302px;
    height: 42px;
    top: 334px;
    left: 578px;
    border-radius: 5px;
    gap: 8px;
    position: absolute;
    display: inline;
    background-color: #2687C5;

}

.card__text{
    position: absolute;
    width: 124px;
    height: 18px;
    left: calc(50% - 124px/2);
    top: calc(50% - 18px/2);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: "liga";
    color: white;
}